.nav {
  border-radius: 5%;
  border: 3px solid #7608a5;
  background-color: #7608a5;
  text-color: #FFF;
  width: 100%;
}

.nav li {
  border: 2px solid #000;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.nav li:hover {
  background-color: #8441a0;
}

#divider {
  border: 1px solid #000;
  padding: 5px;
  margin: auto;
  width: 75%;
}
